h1 {
    text-align: center;
    font-style: oblique;
}

h2 {
    font-size: 1.6rem;
}

.block-example {
    display: block;
    background-color: aqua;
    padding: 15px;
    margin-bottom: 20px;
}

.inline-example {
    display: inline;
    background-color: bisque;
    padding: 5px 10px;
}

.box {
    display: inline-block;
    background-color: rgb(144, 230, 104);
    padding: 20px;
    width: 120px;
    margin: 10px;
    text-align: center;
}